{% load staticfiles %}
{% if request.session.status %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
<table align="center">
    <tr>
        <th>
            {% include 'os_main_templates/main_title.html' %}
        </th>
    </tr>
    <tr>
        <th>
            {% include 'os_main_templates/main_menu.html' %}
        </th>
    </tr>
</table>
<table align="center">
    &emsp;
    <tr>
        <th><img src="{% static 'images/client1.jpg'%}" width="600" height="300"></th>
        <th>
            <form action="/osclient/clientlogincheck/" method="post">
                {% csrf_token %}
               <table align="center" border="0">
                   <tr><th height="50"><h3>Client Login</h3></th></tr>
                   <tr><th height="50"><input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" type="text" placeholder="Username" required name="c1"></th></tr>
                   <tr><th height="50"><input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" type="password" placeholder="Password" required name="c2"></th></tr>
                   <tr align="center"><th height="50"><button type="submit" class="btn btn-primary">LOGIN</button></th></tr>
               </table>
            </form>
        </th>
    </tr>
    <tr>
        <th colspan="2">
            {% for message in messages %}
                {% if message %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Invalid User!</strong> Please Check Contact No and Password
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {%  endif %}
            {% endfor %}
        </th>
    </tr>
</table>
<br>
<h3 align="center">New Client <a href="/osclient/clientregister/"> Clickhere</a> to Register</h3>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
{% endif %}