<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body bgcolor="#00bfff">
<table align="center">
    <tr>
        <th>
            {% include 'os_main_templates/main_title.html' %}
        </th>
    </tr>
    <tr>
        <th>
            {% include 'os_main_templates/main_menu.html' %}
        </th>
    </tr>
</table>
<h3 align="center">About</h3>
<h6>        <p>Online sales is an internet portal dedicated to meet every aspect of the consumers needs in the real estate industry. It is a forum where buyers, sellers and brokers can exchange information, quickly, effectively and inexpensively.

</p>
    <p>At Online sales you can advertise a property, search for a property, browse through properties, build your own property Microsite, and visit other Indian and International sites.

        Info Edge has provided project, marketing and management consulting services to a number of clients in India.</p>

<p>Info Edge long toyed with the idea of providing job information to the public independently but was unable to identify a financially viable technology backbone to do so. This changed when Internet entered India.

    The rest as they say is History.</p>



<p>A few years down the line, Info Edge demonstrated their understanding of e- business once again with the success of Jeevansathi.com - their matrimonial site. Jeevansathi.com with over 500,000 profiles on site, is today one of Indias leading matrimonial sites .With the real estate industry in India witnessing a boom, the online property market holds considerable opportunities. This is the potential that Info Edge is now targeting with the onlinesales.com.Info Edge aims to develop this portal into one of the leading sites for buying, selling or leasing any type of property, anywhere in the country.</p>

    <p>
        Everyone dreams to have their own house & WE help you to make your dreams come true. Suvarnabhoomi builds each property with focus on quality, useful detailing & ensures value for money. Our professionalism and expertise in delivering on-time projects right from the acquisition of land, engagement of architects and engineers, construction, and sales to post sales service, has placed us in the leading edge in Hyderabad’s building and real estate development.

    </p>


        <h5 align="center">Our Vision</h5>
    <h6>
<p>
The vision of online sales is to work continuously towards developing an affordable, yet world-class benchmark for open plots, ventures, residential and commercial properties. Online sales always aims to maintain ethical and substantial business practices. We deliver the best to our customers while lending new dimensions to the Indian housing development scene.
    </p>
</h6>
</h6>

  </body>
  <footer id="myFooter">
        <div class="container">
            <div class="row">

                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 info">
                    <h5>Information</h5>
                    <p>The vision of online sales is to work continuously towards developing an affordable, yet world-class benchmark for open plots, ventures, residential and commercial properties. Online sales always aims to maintain ethical and substantial business practices. We deliver the best to our customers while lending new dimensions to the Indian housing development scene. </p>
                </div>
            </div>
        </div>
    </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>